*{

box-sizing:border-box;
margin:0;
padding:0;
font-family:"Cairo",sans-serif;

}


body{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;


background:
linear-gradient(135deg,#0f2027,#203a43,#2c5364);


overflow:hidden;

}




body::before{

content:"";

position:absolute;

width:500px;

height:500px;

background:#D4AF37;

border-radius:50%;

filter:blur(120px);

opacity:.25;

animation:move 8s infinite alternate;

}




@keyframes move{

from{

transform:translate(-150px,-100px);

}


to{

transform:translate(150px,100px);

}

}





.login-box{

position:relative;

width:380px;

padding:45px;


background:rgba(255,255,255,.12);

backdrop-filter:blur(15px);


border:1px solid rgba(255,255,255,.2);


border-radius:20px;


text-align:center;


box-shadow:0 20px 50px #0006;


animation:show .8s ease;

}





@keyframes show{

from{

opacity:0;

transform:translateY(50px);

}


to{

opacity:1;

transform:translateY(0);

}

}




h1{

font-size:55px;

color:#D4AF37;

margin-bottom:10px;

}




p{

color:white;

font-size:18px;

margin-bottom:30px;

}




input{


width:100%;

padding:15px;

margin:12px 0;


border:none;

outline:none;

border-radius:12px;


font-size:16px;

transition:.3s;

}




input:focus{

transform:scale(1.03);

box-shadow:0 0 15px #D4AF37;

}




button{

width:100%;

padding:15px;


margin-top:20px;


border:none;

border-radius:12px;


background:#D4AF37;


font-size:18px;

font-weight:bold;


cursor:pointer;


transition:.3s;

}




button:hover{

background:white;

transform:translateY(-3px);

}





#message{

display:block;

margin-top:15px;

color:#ffdddd;

}

